=begin
#InternetData API

#The InternetData API. Please see https://docs.internetdata.io/api for more details. 

The version of the OpenAPI document: 2026.09.04
Contact: dev@internetdata.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module InternetData
  class DatabaseV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checksums for one published file, to verify a download
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param format [String] Database file format.
    # @param [Hash] opts the optional parameters
    # @return [DatabaseChecksumsResponse]
    def database_checksum_v2(id, format, opts = {})
      data, _status_code, _headers = database_checksum_v2_with_http_info(id, format, opts)
      data
    end

    # Checksums for one published file, to verify a download
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param format [String] Database file format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseChecksumsResponse, Integer, Hash)>] DatabaseChecksumsResponse data, response status code and response headers
    def database_checksum_v2_with_http_info(id, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseV2Api.database_checksum_v2 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseV2Api.database_checksum_v2"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_]+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling DatabaseV2Api.database_checksum_v2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling DatabaseV2Api.database_checksum_v2"
      end
      # verify enum value
      allowable_values = ["csvgz", "mmdb"]
      if @api_client.config.client_side_validation && !allowable_values.include?(format)
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/database/checksum'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseChecksumsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DatabaseV2Api.database_checksum_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseV2Api#database_checksum_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # What is inside one database - schema, sample rows, row count, sizes
    # Poll this to decide whether today's build is worth fetching: it carries `updated` and `entries` without downloading anything.  No `format` parameter - one document describes every format the database is built in. 
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [DatabaseMetadata]
    def database_metadata_v2(id, opts = {})
      data, _status_code, _headers = database_metadata_v2_with_http_info(id, opts)
      data
    end

    # What is inside one database - schema, sample rows, row count, sizes
    # Poll this to decide whether today&#39;s build is worth fetching: it carries &#x60;updated&#x60; and &#x60;entries&#x60; without downloading anything.  No &#x60;format&#x60; parameter - one document describes every format the database is built in. 
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseMetadata, Integer, Hash)>] DatabaseMetadata data, response status code and response headers
    def database_metadata_v2_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseV2Api.database_metadata_v2 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseV2Api.database_metadata_v2"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_]+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling DatabaseV2Api.database_metadata_v2, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/api/v2/database/metadata'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DatabaseV2Api.database_metadata_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseV2Api#database_metadata_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redirect to a time-limited download URL for one database
    # Answers `302`; the bytes come straight from object storage rather than through this API. Follow the redirect. 
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param format [String] Database file format.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_database_v2(id, format, opts = {})
      download_database_v2_with_http_info(id, format, opts)
      nil
    end

    # Redirect to a time-limited download URL for one database
    # Answers &#x60;302&#x60;; the bytes come straight from object storage rather than through this API. Follow the redirect. 
    # @param id [String] Database identifier (e.g. &#x60;vpn_ip_v1&#x60;, &#x60;resproxy_provider_v1&#x60;).
    # @param format [String] Database file format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_database_v2_with_http_info(id, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseV2Api.download_database_v2 ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseV2Api.download_database_v2"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9_]+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling DatabaseV2Api.download_database_v2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling DatabaseV2Api.download_database_v2"
      end
      # verify enum value
      allowable_values = ["csvgz", "mmdb"]
      if @api_client.config.client_side_validation && !allowable_values.include?(format)
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/database/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DatabaseV2Api.download_database_v2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseV2Api#download_database_v2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Every database your organization may see, and where each one stands
    # The whole published catalog, with your organization's licence beside each entry, so `standing` says whether a database is yours today (`licensed`), was (`expired`), or has never been bought (`unlicensed`).  Databases commissioned for a single customer are not listed to anyone else. 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseList]
    def list_databases(opts = {})
      data, _status_code, _headers = list_databases_with_http_info(opts)
      data
    end

    # Every database your organization may see, and where each one stands
    # The whole published catalog, with your organization&#39;s licence beside each entry, so &#x60;standing&#x60; says whether a database is yours today (&#x60;licensed&#x60;), was (&#x60;expired&#x60;), or has never been bought (&#x60;unlicensed&#x60;).  Databases commissioned for a single customer are not listed to anyone else. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseList, Integer, Hash)>] DatabaseList data, response status code and response headers
    def list_databases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseV2Api.list_databases ...'
      end
      # resource path
      local_var_path = '/api/v2/database/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DatabaseV2Api.list_databases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseV2Api#list_databases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Your organization's recent download attempts, newest first
    # Refusals are listed too: a denial is what answers \"it stopped working\", and its absence answers nothing. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit How many attempts to return. Clamped to 200. (default to 50)
    # @return [DownloadList]
    def list_downloads(opts = {})
      data, _status_code, _headers = list_downloads_with_http_info(opts)
      data
    end

    # Your organization&#39;s recent download attempts, newest first
    # Refusals are listed too: a denial is what answers \&quot;it stopped working\&quot;, and its absence answers nothing. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit How many attempts to return. Clamped to 200. (default to 50)
    # @return [Array<(DownloadList, Integer, Hash)>] DownloadList data, response status code and response headers
    def list_downloads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseV2Api.list_downloads ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabaseV2Api.list_downloads, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabaseV2Api.list_downloads, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v2/database/downloads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DatabaseV2Api.list_downloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseV2Api#list_downloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
